{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Certificate</title>
    <link rel="stylesheet" href="{% static 'css/add_certificate.css' %}">
</head>
<body>
    <h1>Add Certificate</h1>
    <form action="{% url 'add_certificate' %}" method="post">
        {% csrf_token %}
        <label for="title">Certification Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="where">Where did you get it?</label><br>
        <input type="text" id="where" name="where" required><br>
        <label for="start">When did the course start?</label><br>
        <input type="date" id="start" name="start" required><br>
        <label for="end">When did the course end?</label><br>
        <input type="date" id="end" name="end" required><br>
        <button type="submit">Add Certificate</button>
    </form>
</body>
</html>
