{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="img/icon.png" />
    <meta name="author" content="Belal Ahmad" />
    <meta name="description" content="Contact Page" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="icon" href="img/logo.jpg" type="Image/jpg" />

    <script src="scripts/contact.js"></script>
    <title>Contact Us</title>
  </head>
  <body>
     <header>
      <a href="{% url 'job-list' %}">
        <figure class="header1">
          <img
            src="{% static 'img/logo.jpg' %}"
            alt="Sitelogo"
            ,
            height="20"
            ,
            width="20"
          />
          <figcaption>Job Quest</figcaption>
        </figure>
      </a>
      <article class="above">
        <nav>
          <a href="{% url 'job-list' %}" class="browse-post">Browse Jobs</a>
          <a href="{%url 'contact'%}">Contact Us</a>
          <a href="{% url 'logout' %}">Logout</a>&nbsp;
        </nav>
      </article>
      <a href="{% url 'admindashboard'%}">
        <figure class="header2">
          <img
            src="{% static 'img/profile.png' %}"
            alt="Insert Profile Pic here"
          />
          <figcaption id="user-name">{{request.user.username}}</figcaption>
        </figure>
      </a>
    </header>
    <main>
      <article class="contact">
        <article id="get-in-touch">
          <h2>Get in Touch</h2>
          <p>
            Have a question or a comment? Feel free to contact us! <br />
            Fill the form down below and we will reply as soon as possible.
          </p>
          <form action="https://httpbin.org/post" method="post">
            <fieldset>
              <legend>Contact Us</legend>
              <p>
                <label for="username">Username:</label> <br />
                <input
                  type="text"
                  name="username"
                  id="username"
                  required
                  autocomplete="on"
                  minlength="8"
                  autofocus
                />
              </p>
              <p>
                <label for="email">Email: </label><br />
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@mail.com"
                  autocomplete="on"
                  required
                />
              </p>
              <p>
                <label for="message">Your message:</label>
                <br />
                <textarea
                  name="message"
                  id="message"
                  cols="40"
                  rows="10"
                  placeholder="Type your message here."
                ></textarea>
              </p>
              <button type="submit">Submit</button>
            </fieldset>
          </form>
        </article>
        <article id="reach-us">
          <h2>Reach Us</h2>
          <p>Email: admin@jobquest.com</p>
          <p>Phone: <a href="tel:+41 43 222 7272">+41 43 222 7272</a></p>
          <address>10 Main Street, Giza, Egypt. Postal Code: 3387722</address>
        </article>
      </article>
    </main>
    <footer>
      <h3><a href="contact.html">Contact Us</a></h3>
      <nav>
        <ul>
          <p>Check out our socials</p>
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
        </ul>
      </nav>
      <p>&copy; 2024 Job Quest. All Rights Reserved.</p>
    </footer>
    <script>
      checkAuthentication();
    </script>
  </body>
</html>
