{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'img/icon.svg' %}" />

    <meta name="author" contact="Abdul Rahman Ahmad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Quest-Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
  </head>
  <body>
    <main class="main">
      <div>
        <h1>Welcome To Job Quest</h1>
        <h3>
          Find the job you love and explore thousands of job opportunities from
          top companies.
        </h3>
        <h3>
          Here you can find among 56,400+ active jobs on the Middle East's #1
          job site.
        </h3>
        <h2>Now you can join us</h2>
        <a href="login" class="btn">Login</a>
        <a href="signup" class="btn">Sign up</a>
      </div>
    </main>
    <footer>
      <div class="icons">
        <h4>Contact Us :</h4>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
      <p>&copy; 2024 Job Quest. All Rights Reserved.</p>
    </footer>
  </body>
</html>
