{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'img/icon.png' %}" />
    <meta name="author" content="Mohammad Zeinhom" />
    <meta name="description" content="The job details page for Job Quest" />
    <link rel="stylesheet" href="{% static 'css/jobdetail.css' %}" />
    <title>Job Details</title>
  </head>
  <body>
     <header>
      <a href="{% url 'job-list' %}">
        <figure class="header1">
          <img
            src="{% static 'img/logo.jpg' %}"
            alt="Sitelogo"
            ,
            height="20"
            ,
            width="20"
          />
          <figcaption>Job Quest</figcaption>
        </figure>
      </a>
      <article class="above">
        <nav>
          {%if request.user.type_job == 'admin'%}
          <a href="{% url 'admindashboard' %}" >Dashboard</a>
          {%else%}
          <a href="{% url 'userdashboard' %}" >Dashboard</a>
          {%endif%}
          <a href="{% url 'job-list' %}" class="browse-post">Browse Jobs</a>
          <a href="{%url 'contact'%}">Contact Us</a>
          <a href="{% url 'logout' %}">Logout</a>&nbsp;
        </nav>
      </article>
      <a href="{% url 'admindashboard'%}">
        <figure class="header2">
          <img
            src="{% static 'img/profile.png' %}"
            alt="Insert Profile Pic here"
          />
          <figcaption id="user-name">{{request.user.username}}</figcaption>
        </figure>
      </a>
    </header>
    <main>
      <article id="job-details">
        <h1 id="title">{{job.title}}</h1>
        <section class="detail">
          <h3>Company:</h3>
          <p id="company">{{job.company_name}}</p>
          <h3>Description:</h3>
          <p id="description">{{job.description}}</p>
          <h3>Location:</h3>
          <p id="location">{{job.location}}</p>
          <h3>Requirements:</h3>
          <p id="requirements">{{job.requirements}}</p>
          <h3>Years of Experience Required:</h3>
          <p id="experience">{{job.years_of_experience}}</p>
          <h3>Starting Salary:</h3>
          <p id="salary">{{job.salary}}</p>
          {%if job.company_url%}
          <h3>Company Link:</h3>
          <p id="overview">{{job.company_url}}</p>
          {%endif%}
        </section>
        {%if user.type_job == 'user' %}
        <section class="apply-button-container">
          <a  href= "{% url 'apply-for-job' job.id %}" class="apply-button">Apply Now</a>
        </section>
        {%endif%}
      </article>
    </main>
		<footer>
      <h3><a href="{% url 'contact' %}">Contact Us</a></h3>
      <nav>
        <ul>
          <p>Check out our socials</p>
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
        </ul>
      </nav>
      <p>&copy; 2024 Job Quest. All Rights Reserved.</p>
    </footer>
    <script>
      checkAuthentication();
    </script>
	</body>
</html>
