{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="img/icon.png" />
		<meta name="author" contact="Abdul Rahman Ahmad" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Job Quest</title>
		<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
	</head>
	<body>
		
		<section>
			<h3>Sign Up</h3>
			<div class="login">
				<form method="post">
					{% csrf_token %}
					{{ form.type_job }}
					<br>
					<label for="username">Username</label>
					{{ form.username }}
					<br>
					<label for="password">Password</label>
					{{ form.password }}
					<br>
					<label for="confirm_password">Confirm Password</label>
					{{ form.confirm_password }}
					<br>
					<label for="email">Email</label>
					{{ form.email }}
					{% if form.email.errors %}
					<div class="alert alert-danger" role="alert">
						{{ form.email.errors }}
					</div>
					{% endif %}
					<br>
					<label for="company_name">Company Name</label>
					{{ form.company_name }}
					<br>
					{% if form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
						{{ form.non_field_errors }}
					</div>
					{% endif %}
					{% if error_message %}
					<div class="alert alert-danger" role="alert">
    					{{ error_message }}
					</div>
					{% endif %}
					<input type="submit" value="Sign Up" />
					<br />
					<a href="{% url 'login' %}">Already have an account? (login)</a>
					<br />
				</form>
			</div>
		</section>

		<footer>
			<p>&copy; 2024 Job Quest. All Rights Reserved.</p>
		</footer>

		<script src="{% static 'js/signup.js' %}"></script>
	</body>
</html>
