{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="img/icon.png" />
    <meta name="author" content="Ahmad Ismail" />
    <meta name="description" content="The user dashboard for Job Quest" />
    <link rel="stylesheet" href="{%static 'css/userdashboard.css' %}" />
    <script src="scripts/userdashboard.js"></script>
    <title>User Dashboard</title>
  </head>
  <body>
    <header>
      <a href="{% url 'job-list' %}">
        <figure class="header1">
          <imgdsrc="{% static 'img/logo.jpg' %}"
            alt="Sitelogo",
            height="20",
            width="20"/>
          <figcaption>Job Quest</figcaption>
        </figure>
      </a>
      <article class="above">
        <nav>
          <a href="{% url 'job-list' %}" class="browse-post">Browse Jobs</a>
          <a href="{%url 'contact'%}">Contact Us</a>
          <a href="{% url 'logout' %}">Logout</a>&nbsp;
        </nav>
      </article>
      <a href="{% url 'admindashboard'%}">
        <figure class="header2">
          <img
            src="{% static 'img/profile.png' %}"
            alt="Insert Profile Pic here"
          />
          <figcaption id="user-name">{{request.user.username}}</figcaption>
        </figure>
      </a>
    </header>
    <main>
    <main>
      <article class="dashboard">
        <article class="inner" id="suggest">
          <h2>Suggested for you</h2>
          <p>
            Explore personalized job recommendations and skill-building
            resources.
          </p>
        </article>
        <hr />
        
        <article class="inner" id="others">
          <h2>People you may know</h2>
          <p>
            Connect with professionals in your industry and expand your network.
          </p>
        </article>
        <hr />
        
        <article class="inner" id="analytics">
          <h2>Your analytics</h2>
          <p>
            View statistics and insights about your job search and skill
            development progress.
          </p>
        </article>
        <hr />
        
        <article class="inner list-holder">
          <article id="about">
            <h2>About you</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis omnis ratione explicabo nulla maiores eligendi
              doloribus suscipit eius architecto facere veniam, quidem quod
              aliquid, ex numquam? Quasi voluptatibus nulla nisi.
            </p>
            <aside id="top-skills">
              <strong>Top Skills</strong>
            </aside>
          </article>
          <hr class="special_line" />
          <article id="appliedjobs">
            <h2>Jobs You've Applied For</h2>
          </article>
        </article>
        <hr />
        
        <article class="inner" id="experience">
          <h2>Experience</h2>
          <p>Explore your work history and past projects</p>
          <section class="list-holder">
            <dl class="list-for-addition">
              <h4>Experience</h4>
            </dl>
            <hr />
            <dl class="list-for-addition">
              <h4>Projects</h4>
            </dl>
          </section>
          <section class="button-holder">
            <button onclick="addXp()">Add Experience</button>
            <button onclick="addProject()">Add Project</button>
          </section>
        </article>
        <hr />
        
        <article class="inner" id="edu">
          <h2>Education</h2>
          <p>View your educational background and qualifications.</p>
          <dl class="list-for-addition"></dl>
          <section class="button-holder">
            <button onclick="addEdu()">Add Education</button>
          </section>
        </article>
        <hr />
        
        <article class="inner" id="certs">
          <h2>Licenses and Certs</h2>
          <p>See your professional certifications and licenses.</p>
          <section class="list-holder">
            <dl class="list-for-addition">
              <h4>Licenses</h4>
            </dl>
            <hr />
            <dl class="list-for-addition">
              <h4>Certifications</h4>
              {% for cert in mycerts %}
              <dt>Title: </dt>
              <dd>{{cert.title}} </dd> &nbsp;
              <dt>Certified By: </dt>
              <dd>{{cert.where}}</dd> &nbsp;
              <dt>Since:</dt>
              <dd>{{cert.start}} - {{cert.end}}</dd>
              <hr>
              {% endfor %}
            </dl>
          </section>
          <section class="button-holder">
            <button onclick="addLicense()">Add License</button>
            <button onclick="addCert()">Add Certification</button>
          </section>
        </article>
        <hr />
        
        <article class="inner" id="skill">
          <h2>Skills</h2>
          <p>Showcase your skills.</p>
          <dl class="list-for-addition"></dl>
          <section class="button-holder">
            <button onclick="addSkill()">Add Skill</button>
          </section>
        </article>
        <hr />
        
        <article class="inner" id="interest">
          <h2>Interests</h2>
          <p>Explore your interests and hobbies.</p>
          <ul class="list-for-addition"></ul>
          <section class="button-holder">
            <button onclick="addInterest()">Add Interest</button>
          </section>
        </article>
      </article>
    </main>
    <hr />
    <footer>
      <h3 style="color: #eaebfe"><a href="contact.html">Contact Us</a></h3>
      <nav>
        <div>Check out our socials</div>
        <ul>
          <a href="#" target="_blank"><li>Facebook</li></a>
          <a href="#" target="_blank"><li>Twitter</li></a>
          <a href="#" target="_blank"><li>Instagram</li></a>
        </ul>
      </nav>
      <p>&copy; 2024 Job Quest. All Rights Reserved.</p>
    </footer>
    <script>
      checkAuthentication();
    </script>
    <!-- <script src={%static 'js/userdashboard.js'%}></script> -->
  </body>
</html>
