@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* PRE-STYLES */
:root {
  --padding: 1.25rem;
  --small-padding: 0.75rem;
  --big-padding: 2rem;
  --light-gray: #eaebfe;
  --bit-dark: #b0b8ce;
  --go-to-blue: #505a74;
  --good-blue: #354c7c;
  --fin-blue: #022954;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
section {
  padding: 100px 50px;
}
.main {
  background: url("../img/home1jpg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 99vh;
  width: 100%;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 2.25rem;
  font-weight: 900;
  color: rgb(15, 190, 190);
}
h3 {
  margin: var(--padding);
}
h2 {
  margin-left: var(--padding);
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: var(--small-padding);
  margin-bottom: var(--big-padding);
  color: #dadada;
}
.btn {
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: var(--padding);
  font-weight: 600;
  display: inline-block;
  margin-left: 1.75rem;
  letter-spacing: 1px;
  padding: var(--small-padding);
  border-radius: 10px;
  transition: 0.5s;
}
.btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
section .icons {
  display: block;
}
.icons a {
  color: #022954;
  font-size: 1.5rem;
  padding-right: 1.75rem;
  margin-left: 10px;
}
h4 {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 700;
  color: #022954;
}
footer {
  padding-left: var(--big-padding);
}
