@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* PRE-STYLES */
:root {
  --padding: 1.25rem;
  --small-padding: 0.75rem;
  --light-gray: #eaebfe;
  --bit-dark: #b0b8ce;
  --go-to-blue: #505a74;
  --good-blue: #354c7c;
  --fin-blue: #022954;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* PRE-STYLES */

body {
  margin: 0;
  padding: 0;
  background-color: var(--bit-dark);
}

/* Header Styling */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--good-blue);
  color: var(--light-gray);
  padding: 20px;
}

header figure img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}

header a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 24px;
}

header nav a {
  color: var(--light-gray);
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.header1,
.header2,
.above {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

.header1 {
  margin-left: 25px;
}

.header2 {
  margin-right: 25px;
}

.above {
  height: 100%;
}
/* Main Styling */
main {
  padding: var(--padding);
}

h3 {
  margin-bottom: 0.5rem;
}
p,
ul {
  margin-top: 0px;
}

#job_details {
  background-color: #fff;
  padding: 1.75rem;
  border-radius: var(--small-padding);
  box-shadow: 0 0 var(--padding) rgba(0, 0, 0, 0.1);
}

.detail h3,
strong,
#title {
  color: var(--good-blue);
  margin-top: 0;
  margin-bottom: 80;
}

.detail p {
  line-height: 1.6;
}
.detail ul {
  list-style-type: disc;
  padding: 0;
}
.detail ul li {
  margin-bottom: var(--small-padding);
}
.apply-button-container {
  text-align: center;
  margin-top: 1.75rem;
}

.apply-button {
  background-color: var(--good-blue);
  color: var(--light-gray);
  padding: 1rem 1.75rem;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color: var(--fin-blue);
}

/* Footer Styling */
footer {
  background-color: var(--good-blue);
  color: var(--light-gray);
  padding: var(--padding);
  text-align: center;
}

footer a {
  color: var(--light-gray);
  text-decoration: none;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer h3 {
  margin: 0.25rem 0;
}

footer div {
  margin-bottom: 0.25rem;
}

footer nav ul li {
  display: inline;
  margin-right: var(--small-padding);
}
