@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* PRE-STYLES */
:root {
	--padding: 1rem;
	--small-padding: 0.5rem;
	--big-padding: 1.5rem;
	--light-gray: #eaebfe;
	--bit-dark: #b0b8ce;
	--go-to-blue: #505a74;
	--good-blue: #354c7c;
	--fin-blue: #022954;
}

* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

/* PRE-STYLES */

body {
	margin: 0;
	padding: 0;
	background-color: var(--bit-dark);
}

/* Header Styling */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: var(--good-blue);
	color: var(--light-gray);
	padding: var(--padding);
	position: sticky;
	top: 0;
}

header figure img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	object-fit: cover;
}

header a {
	color: var(--light-gray);
	text-decoration: none;
	font-size: var(--big-padding);
}

header nav a {
	color: var(--light-gray);
	text-decoration: none;
	margin-right: var(--padding);
	font-size: var(--padding);
}

.header1,
.header2,
.uppernav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	align-items: center;
}
.header1 {
	margin-left: var(--big-padding);
}
.header2 {
	margin-right: var(--big-padding);
}
/* Main Styling */
main {
	padding: var(--padding);
	min-height: calc(100vh - (var(--padding) * 2 + 1px));
}
.page-content {
	background-color: #fff;
	padding: var(--big-padding);
	border-radius: var(--small-padding);
}
h2 {
	color: var(--good-blue);
	margin-bottom: var(--small-padding);
}
#SearchBar {
	text-align: center;
}
#keyword {
	width: 130px;
	padding: var(--small-padding);
	margin-top: 0px;
	margin-bottom: var(--padding);
	border: 2px solid var(--good-blue);
	border-radius: var(--padding);
	outline: none;
	background-color: white;
	transition: width 0.4s ease-in-out;
	text-align: center;
}
#salary {
	width: 90px;
	padding: var(--small-padding);
	padding-left: var(--padding);
	margin-top: 0px;
	margin-bottom: var(--padding);
	border: 2px solid var(--good-blue);
	border-radius: var(--padding);
	outline: none;
	background-color: white;
	transition: width 0.4s ease-in-out;
	text-align: center;
}
#keyword:hover,
#keyword:focus,
#keyword:not(:placeholder-shown) {
	width: 400px;
}

button[type="submit"] {
	background-color: var(--good-blue);
	color: var(--light-gray);
	border: none;
	padding: var(--small-padding) var(--padding);
	border-radius: var(--padding);
	cursor: pointer;
	transition: background-color 0.4s ease-in-out;
}
button[type="submit"]:hover {
	background-color: var(--fin-blue);
}
.job {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	overflow: hidden;
	width: 100%;
	height: 130px;
	padding: var(--padding);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: var(--light-gray);
	margin-bottom: var(--padding);
}
.job-content p,
h3 {
	margin: 5px;
}
.job-title {
	color: var(--good-blue);
}

.job-description {
	opacity: 0.5;
	overflow: hidden;
}

.details {
	margin: auto var(--padding) auto var(--padding);
}

.job-link {
	text-decoration: none;
	background-color: var(--good-blue);
	color: var(--light-gray);
	border: none;
	padding: 10px var(--padding);
	border-radius: var(--padding);
	cursor: pointer;
	transition: background-color 0.4s ease-in-out;
}

.job-link:hover {
	background-color: var(--fin-blue);
}

/* Footer Styling */
footer {
	background-color: var(--good-blue);
	color: var(--light-gray);
	padding: var(--small-padding);
	text-align: center;
	position: sticky;
	bottom: 0;
}

footer a {
	color: var(--light-gray);
	text-decoration: none;
}

footer nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer h3 {
	margin: 5px 0;
}

footer nav ul li {
	display: inline;
	margin-right: var(--small-padding);
}
