@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* PRE-STYLES */
:root {
	--PAD: 1.25rem;
	--SM-PAD: 0.75rem;
	--LGT-GRAY: #eaebfe;
	--BIT-DARK: #b0b8ce;
	--GO-TO-BLUE: #505a74;
	--GOOD-BLUE: #354c7c;
	--FIN-BLUE: #022954;
}

* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

/* PRE-STYLES */

body {
	margin: 0;
	padding: 0;
	background-color: var(--BIT-DARK);
}

/* Header Styling */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: var(--GOOD-BLUE);
	color: var(--LGT-GRAY);
	padding: 20px;
}

header figure img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	object-fit: cover;
}

header a {
	color: var(--LGT-GRAY);
	text-decoration: none;
	font-size: 24px;
}

header nav a {
	color: var(--LGT-GRAY);
	text-decoration: none;
	margin-right: 20px;
	font-size: 18px;
}

.header1,
.header2,
.above {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	align-items: center;
}

.header1 {
	margin-left: 25px;
}

.header2 {
	margin-right: 25px;
}

.above {
	height: 100%;
}

/* Main Styling */
main {
	padding: 20px;
}

.listing {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card {
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
	width: 50px;
	height: auto;
  }
  
  .card-content {
	padding: 20px;
  }
  
  .card-title {
	margin-top: 0;
  }
  
  .card-text {
	margin-bottom: 20px;
  }
  
  .card-link {
	display: inline-block;
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
  }
  
  .card-link:hover {
	background-color: #0056b3;
  }
/* Footer Styling */
footer {
	background-color: var(--GOOD-BLUE);
	color: var(--LGT-GRAY);
	padding: 20px;
	text-align: center;
}

footer a {
	color: var(--LGT-GRAY);
	text-decoration: none;
}

footer nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer h3 {
	margin: 5px 0;
}

footer div {
	margin-bottom: 5px;
}

footer nav ul li {
	display: inline;
	margin-right: 10px;
}
